.job-post{
    padding: 40px 0px;
    margin-left: -15px;
    margin-top: -15px;
}
.job-post-padding-hep {
    padding: 20px 0px;
    /* padding-bottom: 20px; */
    margin-left: -15px;
    /* margin-top: 29px; */
    /* background-color: rgb(235 235 235); */
}
.job-container{
    margin: 0px 210px;
    padding: 0px 15px;
}
.job-header{
    padding: 16px 0px;
    
}
.job-container-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header-Categories{
    margin-bottom: 22px;
    color: rgb(153, 153, 153);
    display: block;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.header-current{
    font-size: 40px;
    display: block;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.8);
}
.b-job{
    line-height: 60px;
    font-weight: 700; 
    font-size: 40px;
}
.job-list{
    
}
.list-flex-row{
   
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-content: center; */
    flex-wrap: wrap;
}
.list-flex-space{
    display: flex;
    justify-content: space-between;
}

.job-container-header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-Categories{
    margin-bottom: 22px;
    color: rgb(153, 153, 153);
    display: block;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.header-current{
    font-size: 40px;
    display: block;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.8);
}
.b-job{
    line-height: 60px;
    font-weight: 700; 
    font-size: 40px;
}
.member {
    display: flex;
    justify-content: center;
}
.member-info {
    width:25%;
    padding: 0px 42px;
    margin: 0px 24px;
    
}
.member-info p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.member-info img{
    width: 100%;
}